{% extends 'expensetemplates/base.html' %}

{% block content %}

    <form action="#" method="POST">
        {% csrf_token %}
            <h1>Expense Uploader</h1>
            <p class="lead">Enter a CSV file containing the date, category, employee name, employee address, expense description, pre-tax amount, tax name, and tax amount</p>
            <input type="file" accept=".csv, text/csv" name="file">
            <input type="submit" value="Upload" class="btn btn-lg btn-success">
    </form>

{% endblock %}